<div class="row heading">
  <div class="col-sm-4">
    <h1>Discovery</h1>
    <h2>Discover all your entertainment needs right here. Discovery lets you search & find movies, tv shows, and actors. </h2>
  </div>
  <div class="col-sm-8 img_wrap">
    <img class="ft-img" src="http://image.tmdb.org/t/p/w780<%= @popular_movies[0]["backdrop_path"] %>"/>
    <span class="title"><%= @popular_movies[0]['title'] %></span>
  </div>
</div>
