/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 /* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import 'bootstrap';
@import 'welcome.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {background-color: #f7f7f7;}

.container {
  background-color: #f7f7f7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

h1 {font-weight: 900;}

h2 {font-size: 20px;}

/* Visually hidden */
h3 {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}

h4 {font-family: 'Lato', sans-serif; margin: 20px 0;}

//new line alt tag for missing photo
img {white-space:pre}
img[alt] {
  background: #d5d3d4;
  height: 231px;
  margin-left: -40px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  display: none;
}

.header {
  background-color: #000;
  border-bottom: 10px solid #000;
  color: #fff;
  padding: 20px;

  .form-group {display: inline-block;}

  label {padding-right: 10px;}

  .right {text-align:right;}

  .btn-search {
    background-color: #fd7e14;
    border-color: #fd7e14;
    color: #fff;
  }
}

.heading {
  background: #e2e4e3;
  border: 1px solid #e2e4e3;
  font-family: 'Lato', sans-serif;
  padding: 20px;

  img.ft-img {
    max-width:100%;
  }

  img,
  .title {display: block;}

  img {margin: 0 auto;}

  .title {
    background: rgba(0, 0, 0, 0.85); //e2e4e3
    bottom: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    left: 0;
    opacity: 0;
    padding-top: 130px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    width: 713px;
    margin: 0 auto;
  }

  .img_wrap {padding: 0;}

  .img_wrap:hover .title {
    opacity: 1;
    visibility: visible;
  }
}

//zig-zag figure
  .row {margin: 0;}

  .ft1 {
    background-color: #e2e4e3;
    // border-left: 5px solid #e2e4e3;
    // border-bottom: 5px solid #ccc;
  }
  .ft2 {
    background-color: #e2e4e3;
    // border-right: 5px solid #bdbbbb;
    // border-bottom: 5px solid #3a3a3a;
  }
  .ft3 {
    background-color: #e2e4e3;
    // border-left: 5px dashed #000;
  }
//end



.ft-row {
  // background-color: #0220bbPRETTY BLUE;
  padding-bottom: 30px;

  .img_wrap {
    position: relative;

    img,
    .title {display: block;}

    img {border: 1px solid #ccc; margin: 0 auto;}

    .title {
      background-color: rgba(253, 126, 20, 0.93);
      bottom: 0;
      color: #000;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 27px;
      left: 0;
      opacity: 0;
      padding-top: 50px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: opacity .2s, visibility .2s;
      visibility: hidden;
      width: 154px;
      margin: 0 auto;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .img_wrap:hover .title {
    opacity: 1;
    visibility: visible;
  }
}

#search_page {
  .search_param {
    display: block;
    width: 98%;
  }

  .search_copy {
    display: block;
    font-size: 1.5em;
    text-align: left;
  }

  .search_key:before {
    color: grey;
    content: '>';
    font-weight: 700;
  }

  .left,
  .right {
    display: inline-block;
  }

  .left {vertical-align: top;}

  .right {
    width: 300px;

    .bottom {
    display: -webkit-box;
    font-size:12px;
    height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    }
  }
}
