// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h3 {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
// 
// .right input {float: right;}
//
//
// .container {background-color: #f7f7f7;}
// header.header {
//   border-bottom: 10px solid #000;
//   margin-bottom: 10px;
//   padding: 8px 0;
// }
//
// .btn-search {background-color: #fd7e14; border-color: #fd7e14;}
//
// img {display: block;}
